body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #d900ff82;
}

h1 {
  color: #ff00bb;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 25px;
  background-color: #ff00bb;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #d900ff;
  cursor: pointer;
}

/* Styles pour le conteneur de la caméra */
#media-area {
  position: relative;
}

#camera-container {
  position: relative;
  display: inline-block;
}

#camera-container video {
  width: 100%;
  height: auto;
}

/* Styles pour les boutons sur la caméra */
#camera-container button {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#switch-camera-btn {
  left: 20px;
}

#capture-btn {
  right: 20px;
}

#media-area img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

#motivational-phrase {
  font-size: 28px;
  font-style: italic;
  margin-bottom: 20px;
  color: #d900ff;
}

